.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 var(--second-solid-padding);
}

.homepage-header-add {
  font-size: 40px;
  border-radius: 100%;
  background: var(--forth-background-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.homepage-header-package {
  font-size: var(--fifth-font-size);
  font-family: "my-font-demibold", serif;
}

.homepage-header-logo {
  width: 60px;
  height: 20px;
}

.homepage-header-border {
  border-bottom: 1px solid var(--forth-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.homepage-detail-cart {
  margin: 30px var(--second-solid-padding) 20px var(--second-solid-padding);
  font-size: var(--fifth-font-size);
  font-family: "my-font-demibold", serif;
  border: 1px solid var(--first-border-color);
  padding: 20px var(--first-solid-padding) 15px var(--first-solid-padding);
  border-radius: var(--first-radius);
  border-top: 6px solid var(--second-border-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

.homepage-detail-cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-detail-cart-edit {
  margin-left: 8px;
}

.homepage-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: var(--second-solid-padding);
  border-top: 1px solid var(--forth-background-color);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
}

.homepage-footer-img {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin-left: 5px;
}

.homepage-footer-name {
  font-size: var(--fifth-font-size);
  font-family: "my-font-demibold", serif;
  color: var(--second-text-color);
  width: 90%;
  margin-left: 10px;
}