.making-flash-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.making-flash-cards-body {
  padding: 0 var(--second-solid-padding);
}

.making-flash-cards-body-name {
  font-size: var(--third-font-size);
  font-family: "my-font-demibold", serif;
  margin-bottom: 10px;
  margin-top: 30px;
}

.making-flash-cards-body-name-input {
  border: 1px solid var(--first-border-color);
  border-radius: var(--first-radius);
  width: 100%;
  height: 56px;
  font-size: var(--first2-font-size);
  color: var(--second-text-color);
  padding:0 20px;
}

.making-flash-cards-btn {
  padding: var(--second-solid-padding);
}