.practice-page2-body {
  padding: 0 var(--second-solid-padding);
}

.practice-page2-search {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.practice-page2-search-detail {
  border: 1px solid var(--first-border-color);
  border-radius: var(--first-radius);
  width: 100%;
  height: 49px;
  padding-left: 38px;
  text-align: left;
  direction: ltr;
  font-size: var(--third-font-size);
  color: var(--second-text-color);
}

.practice-page2-search-img {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 18px;
  height: 18px;
}

.practice-page2-flash-card {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding: var(--second-solid-padding);
  background: var(--forth-background-color);
  border-radius: var(--first-radius);
  width: 100%;
  height: 90px;
}

.practice-page2-flash-card-edit {
  width: 3.5px;
  height: 14px;
}

.practice-page2-flash-card-on-card {
  font-size: var(--fifth-font-size);
  font-family: "my-font-demibold", serif;
}

.practice-page2-flash-card-back-card {
  font-size: var(--first2-font-size);
  margin-top: 8px;
}

.practice-page2-modal-back {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.practice-page2-modal {
  position: fixed;
  width: 100%;
  height: 25%;
  border-top-right-radius: var(--third-radius);
  border-top-left-radius: var(--third-radius);
  padding: 50px var(--third-solid-padding) 50px var(--third-solid-padding);
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--first-background-color);
  z-index: 5;
  animation: modal-open ease 250ms;
}

@keyframes modal-open {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.practice-page2-modal-moving {
  font-size: var(--fifth-font-size);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--forth-background-color);
  width: 100%;
  height: 48px;
  border-radius: var(--first-radius);
}

.practice-page2-modal-editor-img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.practice-page2-modal-filter {
  font-size: var(--fifth-font-size);
  color: var(--fifth-text-color);
  display: flex;
  align-items: center;
  background-color: var(--forth-background-color);
  width: 100%;
  height: 48px;
  border-radius: var(--first-radius);
}

.practice-page2-modal-filter-img {
  width: 20px;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
}